<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu porta leo. Nam non nibh consequat, accumsan diam ac, aliquam mi. Cras et velit dolor. Mauris turpis augue, gravida quis nunc vitae, interdum porttitor purus. Aenean vel imperdiet nunc. Morbi lobortis nisl odio, rutrum iaculis tellus sodales eget. Ut suscipit, felis quis pharetra laoreet, nibh orci scelerisque nisl, ac facilisis tellus dolor vitae mauris.</p>
<p></p>

<p>Nulla tempus erat ante, sed cursus nunc luctus sit amet. Nunc augue mi, sollicitudin sit amet condimentum sed, sagittis eget massa. Nulla at libero lectus. Aliquam vitae quam ac metus mattis aliquam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec in volutpat tortor. Nullam rutrum, sapien eget tristique condimentum, lacus odio porttitor dolor, vel malesuada ligula velit ut massa.</p>

    <h2>My Fav foods</h2>
    <ul>    
        <li>Pelmeni</li>
        <li>Fish</li>
    </ul>

<img src="https://image.shutterstock.com/image-vector/sample-stamp-grunge-texture-vector-260nw-1389188327.jpgshbafoiasfoi" alt="Ma fish friend"/>

</body>
</html>