<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
    # <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap">-->
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/lib.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finstagram</title>
  </head>

  <body>
    <%= yield %>
  </body>

</html>